Config { font = "xft:monospace:pixelsize=13"
       , additionalFonts = []
--       , borderColor = "black"
       , borderColor = "#1c1c1c"
--       , border = TopB
       , bgColor = "#1c1c1c"
       , fgColor = "#bcbcbc"
       , alpha = 242
       , position = Static { xpos = 0 , ypos = 0 , width = 1280 , height = 18 }
--       , position = Top
--       , textOffset = -1
--       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
--       , allDesktops = True
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , textOutputFormat = Ansi
       , commands = [ Run Weather "ULLI" ["-t","<station>: <tempC>C",
                                          "-L","18","-H","25",
                                          "--normal","green",
                                          "--high","red",
                                          "--low","lightblue"] 36000
                    , Run Network "enp7s0" ["-L","0","-H","32",
                                          "--normal","green","--high","red"] 10
                    , Run Network "wlan0" ["-L","0","-H","32",
                                          "--normal","green","--high","red"] 10
                    , Run Cpu ["-L","3","-H","50",
                               "--normal","green","--high","red"] 10
                    , Run Memory ["-t","Mem: <usedratio>%"] 10
                    , Run Date "%a %_d %b %Y %H:%M:%S" "date" 10
--                    , Run Date "%a %b %_d %H:%M:%S" "date" 10
                    , Run UnsafeStdinReader
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "%UnsafeStdinReader% }\
                    \{ %enp7s0% | %date% | %ULLI% "
       }
